@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
	font-size: 62,5%;
  font-family: 'Lato', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
}

h2{
  padding: 2% 10%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
  font-size: 1.8em;
}

form{
  background-color: #fff;
  padding: 10%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}
.titulo{
  padding-top: 10%;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
}
.book{
    height: 100vh;
    background: url(../img/bgg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.form{
  background-image: linear-gradient( 102.1deg,  rgb(98, 96, 221) 8.7%, rgba(24,138,141,1) 88.1% );
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh; /* Should be removed. Only for demonstration */
}
.row:after {
  content: "";
  display: table;
  clear: both;
}